.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.navitems ul {
    display: flex;
   

}
.navitems ul li {
    display: flex;
    list-style: none;
   padding: 20px;
   font-weight: bold;
   font-size: 23px;
}
#img{
    width: 100px;
    padding: 2px;
    border-radius:20px; 
}
.cards{
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    border: none;
  
}
.cards:hover{
    width: 255px;
    box-shadow: 0 0 10px darkgreen;
}
.cards img{
    width:180px;

}
.restaurant-list{
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shimmercards{
  display: flex;  
     border: 1px solid black;
    width: 250px;
    height: 250px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    border: none;
}